page-attendance-report {
  .pp{
    padding:0px;
    margin: 0px;
   font-size:0px;
  }
  .showLeave{

    background-color: #f3cfc9;
  }
  .showLeave .text{
   text-align: center;
  }
  .showWFH{

   background-color: #cce1e2;
 }
 .showWFH .text{
  text-align: center;
 }
}

