page-forgot-password {

  ion-navbar {
    .toolbar-background {
      background: #ffffff;
      border: 0px !important;
    }

    .back-button {
      @extend .lightgray;

      ion-icon {
        @extend .font24;
      }
    }

    .toolbar-content {
      .title {
        .toolbar-title {
          @extend .semibold;
          @extend .darkmain;
        }
      }
    }
  }

  .logintitle {
    @extend .font22;
    @extend .darkmain;
    letter-spacing: 1px;
    @extend .semibold;
    padding: 16px 0 32px;
  }

  .forgotpassword_text {
    @extend .font16;
    @extend .darkgray;
    padding: 0 16px 32px;
    text-align: center;
  }

  .loginbutton {
    padding: 16px 16px 32px;
  }
}
