page-event-detail {

  .commonlineinputs {
    .checkboxitems {
      .checkbox {
        margin: 8px 16px 8px 0;

        .checkbox-icon {
          width: 20px;
          height: 20px;
          border-radius: 0px;
        }

        .checkbox-icon.checkbox-checked {
          border-color: #4B66EB;
          background-color: #4B66EB;

          .checkbox-inner {
            left: 7px;
            top: 3px;
            width: 5px;
          }
        }
      }

      .item-inner {
        .label {
          margin: 8px 8px 8px 0;
          @extend .font16;
          @extend .darkmain;
          @extend .regular;
        }
      }
    }
  }

}
