page-create-timesheet {

}
.butt{
  color: white;
  background-color: #ed723b;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 8px;
}
.butt:hover{
background-color: #c95e2e;
}

